html{
    overflow: inherit;
}
#sidebar-menu > ul > li > a.active,
#sidebar-menu > ul > li > a.active:hover {
    color: #fff;
    background-color: #29c4ab;
}
#sidebar-menu > ul > li > a.active i {
    color: #fff;
}
#sidebar-menu > ul > li > a {
    color: #fff;
}
.navbar-custom{
    background-color: #29c4ab;
}
#sidebar-menu > ul > li > a:hover {
    color: #29c4ab;
    text-decoration: none;
}
#sidebar-menu > ul > li > a{
    background-color: transparent;
}
.menu-title{
    color: #29c4ab;
}
.topbar .topbar-left {
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    width: 240px;
    z-index: 1;
    background-color: #22b39c;
}
.bg-green {
    background-color: #29c4ab !important;
}
.dataTables_length {
    float: left;
    margin-bottom: 5px;
}
.btn-success {
    background-color: #29c4ab;
    border: 1px solid #29c4ab;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active, .show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active, .btn-success:active, .show > .btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle{
    background-color: #22b39c;
    border: 1px solid #22b39c;
}
.dataTables_filter{
    float: right;
    margin-bottom: 5px;
}
table.dataTable{
    width: 100% !important;
}
.button-menu-mobile {
    background-color: transparent;
    font-size: 28px;
    color: #ffffff;
    width: 60px;
    border: none;
    line-height: 68px;
    cursor: pointer;
}
.side-menu{
    background: #00001a;
}
.bg-success {
    background-color: #29c4ab !important;
}
.card-header-flex {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #fff;
}
.modal-content,
.modal-header,
.modal-footer{
    border-radius: 0;
}
.modal-title{
    color: #fff;
    margin-top: 0;
}

.page-item.active .page-link {
    background-color: #29c4ab;
    border-color: #29c4ab;
}

/* switch button on off */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #29c4ab;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #29c4ab;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .form-control:focus {
    border-color: #29c4ab;
}
  .w-100 .select2-container{
    width: 100% !important;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #29c4ab;
    color: white;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #29c4ab;
    color: #fff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single{
    border-color: #29c4ab;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #29c4ab;
    border: 1px solid #29c4ab;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #ff6767;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.select2-container--default .select2-search--inline .select2-search__field{
    width: 100%;
    min-width: 200px;
    position: relative;
    top: 2px;
    padding-left: 10px;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single{
    border: 1px solid #ced4da;
}
.select2-search__field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4e4a4a;
  }
  .select2-search__field::-moz-placeholder { /* Firefox 19+ */
    color: #4e4a4a;
  }
  .select2-search__field:-ms-input-placeholder { /* IE 10+ */
    color: #4e4a4a;
  }
  .select2-search__field:-moz-placeholder { /* Firefox 18- */
    color: #4e4a4a;
  }
  .select2-container .select2-selection--single{
      height: 38px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
      padding-left: 12px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 36px;
    right: 5px;
  }
  .select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #757474;
  }
